<template>
  <div>
    <el-row>
      <el-col :span="16">
        <h1 style="font-size: 1.5em">
          <router-link :to="{ name: 'home'}">
            Text Quest
          </router-link>
        </h1>
      </el-col>
      <el-col v-if="hasCaption()" :span="8" style="text-align: right">
        <h3>
          {{ caption }}
        </h3>
      </el-col>
    </el-row>
  </div>
</template>

<script>
export default {
  props: ["caption"],
  methods: {
    hasCaption() {
      return this.caption != "";
    }
  }
};
</script>

<style scoped>
a {
  text-decoration: none;
  color: inherit;
}
</style>
