<template>
  <el-row>
    <el-col style="text-align: center">
      <el-button
        plain icon="el-icon-plus"
        @click="openForm" v-show="!isCreating">
      </el-button>

      <el-card v-show="isCreating" shadow="hover">
        <div slot="header" class="clearfix">
          <span>Новая игра</span>
        </div>
        <el-form>
          <el-form-item label="Название">
            <el-input v-model="title"></el-input>
          </el-form-item>
          <el-form-item label="Описание">
            <el-input v-model="description"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button-group style="width: 100%">
              <el-button plain type="success" style="width: 50%" @click="sendForm">Создать</el-button>
              <el-button plain type="danger" style="width: 50%" @click="closeForm">
                Отмена
              </el-button>
            </el-button-group>
          </el-form-item>
        </el-form>
      </el-card>

    </el-col>
  </el-row>
</template>

<script>
export default {
  data() {
    return {
      title: "",
      description: "",
      isCreating: false
    };
  },
  methods: {
    clearForm() {
      this.title = "";
      this.description = "";
    },
    openForm() {
      this.clearForm();
      this.isCreating = true;
    },
    closeForm() {
      this.isCreating = false;
    },
    sendForm() {
      if (this.title.length > 0) {
        const title = this.title;
        const description = this.description;
        this.$emit("create-game", {
          title,
          description
        });
      }

      this.isCreating = false;
    }
  }
};
</script>
