<template>
  <el-container>
    <el-main>
      <div class="frame-name">
        <div v-if="object.isBase">Фрейм {{object.label}}</div>
        <div v-else>
          <el-row>
            <el-col :span="24">Фрейм</el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form
                ref="nodeLabelForm"
                :model="nodeLabelForm"
                :rules="nodeLabelFormRules"
                @submit.native.prevent
              >
                <el-form-item prop="name">
                  <el-input
                    v-model="nodeLabelForm.name"
                    @change="submitInput"
                    autosize
                    type="textarea"
                  ></el-input>
                </el-form-item>
              </el-form>
            </el-col>
          </el-row>
          <el-row>
            <el-button
              type="danger"
              icon="el-icon-delete"
              style="width: 100%"
              @click="removeFrame(object)"
            >Удалить фрейм</el-button>
          </el-row>
        </div>
      </div>
      <el-table :data="slotsInfo" style="width: 100%">
        <el-table-column prop="label" label="Слот"></el-table-column>
        <el-table-column v-bind:label="contentColumnName">
          <template slot-scope="scope">
            <span v-if="object.isBase">{{scope.row.type}}</span>
            <span v-if="!object.isBase">
              <span
                v-if="scope.row.constValue != undefined && scope.row.constValue != null"
              >{{scope.row.constValue}}</span>
              <span v-if="scope.row.constValue == undefined || scope.row.constValue == null">
                <span v-if="scope.row.type === 'string'">
                  <el-input
                    autosize
                    type="textarea"
                    clearable
                    value-key="value"
                    v-model="scope.row.value"
                  ></el-input>
                </span>
                <span v-if="scope.row.type === 'bool'">
                  <el-select v-model="scope.row.value">
                    <el-option
                      v-for="(item, index) in boolValues"
                      :key="index"
                      :label="item.label"
                      :value="item.value"
                    ></el-option>
                  </el-select>
                </span>
                <span v-if="isSubFrame(scope.row.type)">
                  <el-select v-model="scope.row.value" @change="refreshRelations()">
                    <el-option
                      v-for="(item, index) in getRelatedFrames(scope.row.type, scope.row)"
                      :key="index"
                      :label="item"
                      :value="item"
                    ></el-option>
                  </el-select>
                </span>
              </span>
            </span>
          </template>
        </el-table-column>
      </el-table>
      <el-table
        v-if="!isEmptyStringListSlots"
        :show-header="false"
        :data="stringListSlots"
        @expand-change="onExpandChange"
        ref="lists"
      >
        <el-table-column type="expand">
          <template slot-scope="scope">
            <el-table :data="scope.row.value" :show-header="false">
              <el-table-column type="index" width="50"></el-table-column>
              <el-table-column>
                <template slot-scope="slot">
                  <span>{{slot.row}}</span>
                </template>
              </el-table-column>
              <el-table-column width="70">
                <template slot-scope="slot">
                  <el-button
                    icon="el-icon-delete"
                    plain
                    @click="deleteSlotValue(scope.row.value, slot.row)"
                  ></el-button>
                </template>
              </el-table-column>
            </el-table>
            <el-select
              v-model="inlineForm.type"
              class="list-input"
              placeholder="Родитель"
              v-if="scope.row.listItemType !== 'string'"
            >
              <el-option
                v-for="(item, index) in getLeafs(scope.row.listItemType, inlineForm)"
                :key="index"
                :label="item"
                :value="item"
              ></el-option>
            </el-select>
            <div class="list-input" clearable>
              <el-autocomplete
                placeholder="Значение"
                v-model="inlineForm.value"
                :fetch-suggestions="searchTypes"
              ></el-autocomplete>
              <el-button icon="el-icon-plus" plain @click="addValueToSlot(scope.row)"></el-button>
            </div>
          </template>
        </el-table-column>
        <el-table-column label="Слот" prop="label"></el-table-column>
      </el-table>
    </el-main>
  </el-container>
</template>

<script>
import _ from "lodash";

export default {
  props: {
    object: Object,
    frames: Array,
    types: Object
  },
  mounted: function() {
    this.$set(this.nodeLabelForm, "name", this.object.label);
  },
  data: function() {
    var validateNameInput = (rule, value, callback) => {
      let objectLabel = this.object.label;
      if (value === "") {
        callback(new Error("Необходимо ввести имя фрейма"));
      } else if (
        this.frames.some(
          frame => frame.label === value && frame.label !== objectLabel
        )
      ) {
        callback(new Error("Имя фрейма уже существует!"));
      } else {
        callback();
      }
    };
    return {
      nodeLabelFormRules: {
        name: [
          {
            validator: validateNameInput,
            trigger: blur
          }
        ]
      },
      nodeLabelForm: {
        name: null
      },
      boolValues: [
        {
          value: true,
          label: "Да"
        },
        {
          value: false,
          label: "Нет"
        }
      ],
      inlineForm: {
        type: null,
        value: null
      }
    };
  },
  methods: {
    refreshRelations() {
      if (this !== null) this.$emit("setup-relations");
    },

    searchTypes(queryString, callback) {
      let result = _.map(
        this.frames.filter(
          frame => !frame.isBase && frame.label.includes(queryString)
        ),
        frame => {
          return {
            value: frame.label
          };
        }
      );
      callback(result);
    },
    submitInput() {
      this.$refs["nodeLabelForm"].validate(valid => {
        if (valid) {
          this.$set(this.object, "label", this.nodeLabelForm.name);
        }
      });
    },
    addValueToSlot(slot) {
      this.addValueToSlotImpl(slot);
      this.clearInline();
    },
    clearInline() {
      this.inlineForm.type = null;
      this.inlineForm.value = null;
    },
    addValueToSlotImpl(slot) {
      let type = this.inlineForm.type;
      let value = this.inlineForm.value;

      if (slot.value.includes(value)) {
        this.notify(
          "Ошибка",
          `Не удалось добавить значение ` +
            value +
            ", т.к. оно уже содержится в списке!",
          "error"
        );
        return;
      }

      const maxLength = 20;
      if (value.length > maxLength) {
        this.notify(
          "Ошибка",
          `Не удалось добавить значение, т.к. оно превышает ${maxLength} символов!`,
          "error"
        );
        return;
      }

      if (type !== "string") {
        let frame = this.frames.find(frame => frame.label == value);
        if (frame === undefined) {
          this.$emit("add-node", { label: value, type: type });
        } else if (!this.isTrueType(frame.data.parentFrame, type)) {
          this.notify(
            "Ошибка",
            `Не удалось добавить фрейм, т.к. его тип не совпадает с нужным!`,
            "error"
          );
          return;
        }
      }

      let valuesCount = slot.value.length;
      slot.value.push(value);
      slot.tempValue = "";
      slot.value.splice(valuesCount + 1);
      this.$emit("setup-relations");
    },
    isTrueType(type, parentType) {
      if (parentType === null || parentType === undefined) {
        return false;
      }
      if (type === parentType) {
        return true;
      }
      let isNeededType = false;
      this.frames
        .filter(frame => frame.isBase && frame.data.parentFrame == parentType)
        .forEach(frame => {
          if (this.isTrueType(type, frame.label)) {
            isNeededType = true;
            return;
          }
        });
      return isNeededType;
    },
    notify(title, message, type) {
      this.$notify({
        title: title,
        message: message,
        type: type,
        offset: 60,
        duration: 2000
      });
    },
    deleteSlotValue(values, value) {
      if (!values.includes(value)) {
        this.$notify({
          title: "Ошибка!",
          message: `Не удалось удалить значение ${value}, т.к. оно не содержится в списке!`,
          type: "error",
          offset: 60,
          duration: 2000
        });
        return;
      }

      let valuesCount = values.length;
      _.remove(values, val => val === value);
      values.splice(valuesCount - 1);
      this.$emit("setup-relations");
    },
    isSubFrame(type) {
      return !this.types.baseTypes.values.includes(type);
    },
    getLabels() {
      return _.values(this.object.data.slots).filter(
        slot => slot.type !== undefined
      );
    },
    getLeafs(slotName, value) {
      let searchFrame = this.frames.find(frame => frame.label === slotName);
      if (this.isBaseLeaf(searchFrame.label)) {
        return [searchFrame.label];
      }
      let frames = this.frames.filter(
        node => node.isBase && node.data.parentFrame === slotName
      );
      let leafs = [];
      frames.forEach(frame => this.getBaseLeafsFrames(frame, leafs));
      if ((value === null || value === undefined) && leafs.length > 0) {
        this.$set(value, "type", leafs[0].label);
      }
      return _.map(leafs, frame => frame.label);
    },
    isBaseLeaf(frameName) {
      return !this.frames.some(
        node => node.isBase && node.data.parentFrame === frameName
      );
    },
    getBaseLeafsFrames(searchFrame, leafs) {
      if (this.isBaseLeaf(searchFrame.label)) {
        leafs.push(searchFrame);
        return;
      }
      let childs = this.frames.filter(
        frame => frame.isBase && frame.data.parentFrame === searchFrame.label
      );
      childs.forEach(child => this.getBaseLeafsFrames(child, leafs));
    },
    getRelatedFrames(slotName, value) {
      if (Object.keys(this.types).includes(slotName)) {
        return this.types[slotName].values;
      }
      let frames = [];
      this.getRecursiveRelatedFrames(slotName, frames);
      if ((value === null || value === undefined) && frames.length > 0) {
        this.$set(value, "value", frames[0].label);
      }
      return _.map(frames, frame => frame.label);
    },
    getRecursiveRelatedFrames(slotName, frames) {
      let userFrames = this.frames.filter(
        frame =>
          frame.data.parentFrame === slotName &&
          frame.isBase !== true &&
          frame.label != this.object.label
      );
      if (userFrames.length != 0) {
        userFrames.forEach(element => {
          frames.push(element);
        });
      }

      let baseFrames = this.frames.filter(
        frame =>
          frame.data.parentFrame === slotName &&
          frame.isBase &&
          frame.label != this.object.label
      );

      if (baseFrames.length == 0) {
        return;
      }

      baseFrames.forEach(frame =>
        this.getRecursiveRelatedFrames(frame.label, frames)
      );
    },
    removeFrame(object) {
      this.$emit("remove-frame", object);
    },
    onExpandChange(row, expandedRows) {
      if (_.includes(expandedRows, row)) {
        this.clearInline();

        let leafs = this.getLeafs(row.listItemType);
        this.inlineForm.type = leafs[0];

        for (let expRow of expandedRows) {
          if (expRow !== row) {
            this.$refs.lists.toggleRowExpansion(expRow, false);
          }
        }
      }
    }
  },
  computed: {
    contentColumnName: function() {
      return this.object.isBase === true ? "Тип" : "Содержимое";
    },
    slotsInfo: function() {
      this.$set(this.nodeLabelForm, "name", this.object.label);
      return this.object.isBase
        ? this.getLabels()
        : this.object.data.slots.filter(slot => slot.type !== "list");
    },
    isEmptyStringListSlots: function() {
      return (
        this.stringListSlots === undefined ||
        this.stringListSlots === null ||
        this.stringListSlots.length === 0
      );
    },
    stringListSlots: function() {
      return this.object.isBase === true
        ? []
        : this.object.data.slots.filter(slot => slot.type === "list");
    }
  }
};
</script>

<style>
.frame-name {
  font-size: 14px;
  text-align: center;
}

.list-input {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 10px;
}

.list-input > *:first-child {
  margin-left: 0px;
}

.list-input > * {
  margin-left: 10px;
}

.el-table__expanded-cell[class*="cell"] {
  padding: 10px;
}
</style>
