<template>
  <el-container class="full-vh">
    <multipane style="width: 100%">
      <div class="object-nav-panel shadow-v" :style="{ minWidth: '300px' }">
        <object-inspector
          class="object-nav"
          :game="game"
          :object="selectedNode"
          :nodes="network.nodes"
          :edges="network.edges"
          @add-node="addSimpleNode"
          @node-selected="onInspectorNodeSelected"
          @frame-deleted="onFrameDeleted"
          @setup-relations="setupRelations"
        ></object-inspector>
      </div>
      <multipane-resizer ref="resizer"></multipane-resizer>
      <el-container class="main-panel" :style="{ flexGrow: 1 }">
        <el-header class="toolbar shadow-h">
          <el-form :model="addNodeForm" :rules="addRules" ref="addNodeForm">
            <el-row :gutter="20">
              <el-col :span="4">
                <el-form-item prop="inputNode">
                  <el-input
                    v-model="addNodeForm.inputNode"
                    maxlength="20"
                    placeholder="Название фрейма"
                    clearable
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="4">
                <el-form-item prop="frameType">
                  <el-select v-model="addNodeForm.frameType" placeholder="Тип фрейма">
                    <el-option
                      v-for="(frame, index) in allowedFrames"
                      :key="index"
                      :label="frame.data.description"
                      :value="frame.label"
                    >
                      <i class="el-icon-caret-right" :style="'color:' + game.colors[index]"></i>
                      {{ frame.data.description }}
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="4">
                <el-form-item>
                  <el-button @click="submitForm('addNodeForm')" type="primary">Добавить</el-button>
                </el-form-item>
              </el-col>
              <el-col :span="2">
                <el-button
                  @click="settingsDialogVisible = true"
                  icon="el-icon-setting"
                >Параметры отображения</el-button>
              </el-col>
            </el-row>
          </el-form>
        </el-header>
        <el-main class="flex" oncontextmenu="return false;">
          <network
            id="network"
            ref="network"
            :nodes="network.nodes"
            :edges="network.edges"
            :options="network.options"
            @deselect-node="onDeselectNode"
            @click="onNetworkClick"
            @oncontext="onRightClick"
          ></network>
        </el-main>
      </el-container>
    </multipane>
    <el-dialog title="Параметры отображения" :visible.sync="settingsDialogVisible" width="30%">
      <el-checkbox class="settings-cb" v-model="network.options.physics.enabled">Включить физику</el-checkbox>
      <el-checkbox class="settings-cb" v-model="APartOfVisible">Показывать связи a_part_of</el-checkbox>
      <el-checkbox class="settings-cb" v-model="isAVisible">Показывать связи is_a</el-checkbox>
      <el-checkbox class="settings-cb" v-model="baseFramesVisible">Показывать базовые фреймы</el-checkbox>
      <el-checkbox
        class="settings-cb"
        v-model="network.options.layout.hierarchical.enabled"
      >Отображать фреймы в иерархии</el-checkbox>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="settingsDialogVisible = false">OK</el-button>
      </span>
    </el-dialog>
  </el-container>
</template>

<script>
import { Network } from "vue2vis";
import { Multipane, MultipaneResizer } from "vue-multipane";
import ObjectInspector from "./ObjectInspector";
import _ from "lodash";

export default {
  components: {
    Network,
    Multipane,
    MultipaneResizer,
    ObjectInspector
  },
  data: function() {
    var validateNameInput = (rule, value, callback) => {
      value = value.trim();
      if (value === "") {
        callback(new Error("Необходимо ввести имя фрейма"));
      } else if (
        this.network.nodes.some(
          frame => frame.label.toLowerCase() === value.toLowerCase()
        )
      ) {
        callback(new Error("Фрейм с таким именем уже существует!"));
      } else {
        callback();
      }
    };
    return {
      game: {
        instance: null,
        types: null,
        baseFrames: null,
        frameInstances: null,
        version: null,
        name: null,
        description: null,
        colors: [
          "rgb(180, 121, 200)",
          "rgb(40, 200, 40)",
          "rgb(200, 150, 100)",
          "rgb(200, 200, 40)",
          "rgb(150, 200, 170)",
          "rgb(40, 200, 200)"
        ]
      },
      addRules: {
        inputNode: [
          {
            required: true,
            validator: validateNameInput,
            trigger: blur
          }
        ],
        frameType: [
          {
            required: true,
            message: "Необходимо выбрать родительский фрейм"
          }
        ]
      },
      settingsDialogVisible: false,
      isAVisible: true,
      APartOfVisible: true,
      baseFramesVisible: true,
      addNodeErrorVisibility: false,
      addNodeForm: {
        inputNode: "",
        frameType: undefined
      },
      selectedNode: undefined,
      network: {
        nodes: [],
        edges: [],
        options: {
          nodes: {
            shape: "box"
          },
          edges: {
            smooth: false
          },
          layout: {
            hierarchical: {
              enabled: false,
              levelSeparation: 100,
              sortMethod: "directed"
            }
          },
          physics: {
            enabled: true
          }
        }
      }
    };
  },

  mounted: function() {
    let gameId = this.$route.params.id;
    this.io.socket.get(`/game/${gameId}`, response =>
      this.onGameLoad(response)
    );
  },
  computed: {
    allowedFrames: function() {
      let baseFrames = this.network.nodes.filter(node => node.isBase);
      return baseFrames.filter(
        frame => !baseFrames.some(node => node.data.parentFrame === frame.label)
      );
    }
  },
  watch: {
    isAVisible: function(newVal, oldVal) {
      this.network.edges
        .filter(edge => edge.label == "is_a")
        .forEach(edge => (edge.hidden = oldVal));
      this.$refs["network"].fit();
    },
    APartOfVisible: function(newVal, oldVal) {
      this.network.edges
        .filter(edge => edge.label == "a_part_of")
        .forEach(edge => (edge.hidden = oldVal));
      this.$refs["network"].fit();
    },
    baseFramesVisible: function(newVal, oldVal) {
      this.network.nodes
        .filter(node => node.isBase)
        .forEach(node => (node.hidden = oldVal));
      this.$refs["network"].fit();
    }
  },
  methods: {
    onGameLoad(game) {
      if (game === "Not Found") {
        return this.$router.push("/404");
      }

      this.parseGameObject(game);

      this.game.baseFrames.forEach(frame => {
        const id = this.getNextNodeId();
        let node = {
          id,
          isBase: true,
          data: frame,
          hidden: false,
          color: "rgb(255, 170, 170)"
        };
        node.data.description = frame.description;
        this.$set(node, "label", frame.name);
        this.network.nodes.push(node);
      });
      this.game.frameInstances.forEach(frame => {
        this.addNode(
          frame.name,
          frame.parentFrame,
          this.parseSlotsOnLoad(frame.slots)
        );
      });

      this.setupRelations();
    },
    parseSlotsOnLoad(slots) {
      return _.map(Object.keys(slots), name => {
        let slot = _.clone(slots[name]);
        slot.name = name;
        return slot;
      });
    },
    showTooltip: function(e) {
      // eslint-disable-next-line
      console.log("S!");
      //do stuff
      e.preventDefault();
    },

    setupRelation(node) {
      let parentName = node.data.parentFrame;

      if (parentName !== null && parentName !== undefined) {
        let parent = this.network.nodes.find(x => x.data.name === parentName);
        const id = this.getNextEdgeId();
        let edge = {
          id,
          from: node.id,
          to: parent.id,
          label: "is_a",
          arrows: "to",
          font: { align: "horizontal" },
          hidden: false
        };
        this.network.edges.push(edge);
      }
    },

    isFrame(type) {
      return !this.game.types.baseTypes.values.includes(type);
    },

    setupSubRelation(node) {
      if (!Array.isArray(node.data.slots)) return;
      node.data.slots.forEach(slot => {
        if (_.has(slot, "listItemType") && this.isFrame(slot.listItemType)) {
          slot.value.forEach(connectedNode => {
            let child = this.network.nodes.find(x => x.label === connectedNode);
            const id = this.getNextEdgeId();
            let edge = {
              id,
              from: child.id,
              to: node.id,
              label: "a_part_of",
              arrows: "to",
              font: { align: "horizontal" },
              hidden: false
            };
            this.network.edges.push(edge);
          });
        } else if (_.has(slot, "type") && this.isFrame(slot.type)) {
          let child = this.network.nodes.find(x => x.label === slot.value);
          if (child === undefined) return;
          const id = this.getNextEdgeId();
          let edge = {
            id,
            from: child.id,
            to: node.id,
            label: "a_part_of",
            arrows: "to",
            font: { align: "horizontal" },
            hidden: false
          };
          this.network.edges.push(edge);
        }
      });
    },

    setupRelations() {
      this.network.edges.length = 0;
      this.network.nodes.forEach(node => {
        this.setupRelation(node);
        this.setupSubRelation(node);
      });
    },
    parseGameObject(game) {
      this.game.instance = game;
      let base = game.knowledgeBase;
      this.game.version = base.version;
      this.game.types = base.types;
      this.game.baseFrames = base.baseFrames;
      this.game.frameInstances = base.frameInstances;
      this.game.name = game.name;
      this.game.description = game.description;
    },
    onDeselectNode() {
      this.selectedNode = undefined;
    },
    onFrameDeleted() {
      this.selectedNode = undefined;
    },
    getNextNodeId() {
      return this.network.nodes.length + 1;
    },
    getNextEdgeId() {
      return this.network.edges.length + 1;
    },
    onRightClick(params) {
      let selectedId = this.$refs.network.getNodeAt(params.pointer.DOM);
      this.selectNode(selectedId);
    },
    onNetworkClick(params) {
      if (params.nodes.length > 0) {
        let selectedId = params.nodes[0];
        this.selectNode(selectedId);
      }
    },
    selectNode(selectedId) {
      if (selectedId === undefined || selectedId === "") {
        return;
      }
      let node = this.network.nodes.find(x => x.id == selectedId);
      if (node === undefined) {
        return;
      }
      this.$refs.network.selectNodes([selectedId]);
      this.selectedNode = node;
    },
    onInspectorNodeSelected(params) {
      let id = params.node.id;
      this.$refs["network"].selectNodes([id]);
      this.$refs["network"].focus(id);
    },
    parseBaseSlots(slots) {
      let parsedSlots = [];
      Object.keys(slots).forEach(slotName => {
        var slot = slots[slotName];
        this.$set(slot, "name", slotName);
        parsedSlots.push(slot);
      });

      return parsedSlots;
    },
    parseSlots(slots) {
      return _.map(slots, slot => {
        if (slot.value === undefined) {
          this.$set(slot, "value", null);
        }
        if (slot.value === null && slot.default !== undefined) {
          this.$set(slot, "value", slot.default);
        }
        if (slot.type === "list" && slot.listItemType === "string") {
          this.$set(slot, "tempValue", "");
          this.$set(slot, "tempType", "");
        }
        return slot;
      });
    },
    getSlots(frameName) {
      return _.orderBy(
        this.parseSlots(_.values(this.getSlotsRecurse(frameName))),
        ["level"],
        ["desc"]
      );
    },
    getSlotsRecurse(frameName, level = 0) {
      let formatSlot = function(value, key) {
        let slot = _.clone(value);
        slot.name = key;
        slot.level = level;

        return slot;
      };

      if (frameName === undefined || frameName === null) {
        return {};
      } else {
        let frame = this.network.nodes.find(x => x.data.name === frameName);
        return _.merge(
          this.getSlotsRecurse(frame.data.parentFrame, level + 1),
          _.mapValues(frame.data.slots, formatSlot)
        );
      }
    },
    addNode(label, parentFrame, slots) {
      const id = this.getNextNodeId();
      let parentFrameIndex = _.findIndex(
        this.allowedFrames,
        frame => frame.label === parentFrame
      );
      let color = undefined;
      if (parentFrameIndex >= 0 && parentFrameIndex < this.game.colors.length) {
        color = this.game.colors[parentFrameIndex];
      } else color = this.game.colors[0];

      let node = {
        id,
        data: {
          parentFrame: parentFrame,
          slots: slots
        },
        hidden: false,
        color: color
      };
      this.$set(node, "label", label);
      this.$set(
        node.data.slots.find(slot => slot.name === "name"),
        "value",
        label
      );
      this.network.nodes.push(node);
      return node;
    },
    addSimpleNode({ label, type }) {
      let node = this.addNode(label, type, this.getSlots(type));
      this.setupRelations();
      return node;
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          switch (formName) {
            case "addNodeForm":
              this.addSimpleNode({
                label: this.addNodeForm.inputNode,
                type: this.addNodeForm.frameType
              });
              this.$refs["addNodeForm"].resetFields();
              break;
          }
        } else {
          return false;
        }
      });
    }
  }
};
</script>

<style scoped lang="scss">
@import "~vue2vis/dist/vue2vis.css";

#network {
  flex-grow: 1;
}

.object-nav-panel {
  display: flex;
}

.object-nav {
  flex-grow: 1;
}

.toolbar {
  margin-left: -8px;
  padding: 25px 20px 70px 20px;
}

.multipane-resizer {
  margin: 0;
  left: 0;
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 3px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -1.5px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }

  &:hover {
    &:before {
      border-color: #999;
    }
  }
}
.settings-cb {
  display: block;
  margin-top: 10px;
  margin-left: 0;
}
</style>
