<template>
  <el-card class="box-card" shadow="hover">
    <div slot="header" class="clearfix">
      <el-row type="flex">
        <el-col style="display: flex; align-items: center;">
          <span>{{ game.name }}</span>
        </el-col>
        <el-col :span="2">
          <router-link :to="{ name: 'edit-game', params: { id: game.id }}">
            <el-button icon="el-icon-edit" circle size="mini"></el-button>
          </router-link>
        </el-col>
        <el-col :span="2">
          <el-popover placement="bottom" width="400" v-model="popover">
            <div class="popover-title">Вы уверены, что хотите удалить игру?</div>
            <div class="popover-detail">Вы не сможете отменить это действие</div>
            <div style="text-align: right; margin: 0">
              <el-button size="mini" type="text" @click="hidePopover">Отмена</el-button>
              <el-button type="primary" size="mini" @click="deleteGame">Удалить</el-button>
            </div>
            <el-button slot="reference" icon="el-icon-delete" circle size="mini"></el-button>
          </el-popover>
        </el-col>
      </el-row>
    </div>
    <el-row>{{ game.description }}</el-row>
    <el-row type="flex" justify="space-between" align="bottom">
      <el-col :span="18">
        <span class="version-text">ver. {{game.knowledgeBase.version}}</span>
      </el-col>
      <el-col :span="6">
        <router-link :to="{ name: 'play-game', params: { id: game.id }}">
          <el-button type="success" round>Играть!</el-button>
        </router-link>
      </el-col>
    </el-row>
  </el-card>
</template>

<script>
export default {
  props: ["game"],

  data: function() {
    return {
      popover: false
    };
  },

  methods: {
    deleteGame() {
      this.hidePopover();
      this.$emit("delete-game", this.game);
    },
    hidePopover() {
      this.popover = false;
    }
  }
};
</script>

<style>
.version-text {
  font-size: 0.7em;
  color: #bcbcbc;
  vertical-align: bottom;
}
.popover-title {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 10px;
}

.popover-detail {
  font-size: 0.9em;
  margin-bottom: 10px;
}
</style>
