<template>
  <div>
    <el-row type="flex" justify="center">
      <el-col style="max-width: 480px">
        <el-row>
          <h1 style="text-align: center">Выберите игру</h1>
          <game-list-item
            class="list-item"
            v-for="game in games"
            :key="game.id"
            :game="game"
            @delete-game="removeGame"
          ></game-list-item>
        </el-row>
        <el-row>
          <create-game @create-game="addGame"></create-game>
        </el-row>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import GameListItem from "./GameListItem";
import CreateGame from "./CreateGame";

export default {
  components: {
    GameListItem,
    CreateGame
  },
  methods: {
    handleGameChange(change) {
      switch (change.verb) {
        case "created":
          this.games.push(change.data);
          break;
        default:
          break;
      }
    },

    addGame({ title, description }) {
      this.io.socket.post(
        `/game?create&name=${title}&description=${description}`
      );
    },

    removeGame(game) {
      this.games.splice(this.games.indexOf(game), 1);
      this.io.socket.delete(`/game/${game.id}`, () => {
        this.$notify({
          title: "Готово",
          message: `${game.name} вас больше не побеспокоит`,
          type: "success",
          offset: 60,
          duration: 2000
        });
      });
    }
  },

  data() {
    return {
      games: null,
      gameSocket: null
    };
  },

  mounted() {
    this.gameSocket = this.io.sails.connect();

    this.gameSocket.on("game", change => this.handleGameChange(change));
    this.gameSocket.get("/game", response => (this.games = response));
  }
};
</script>

<style scoped lang="scss">
.list-item,
.el-row {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.el-form-item:last-child {
  margin-bottom: 0;
}
</style>
