<template>
  <el-container class="full-vh">
    <el-container v-if="gameLoaded" >
      <el-main class="game-panel">
        <el-row style="flex-grow: 1">
          <el-col :span="16">
            <div class="location-panel">
              <h2>{{model.location.name}}</h2>
              <el-row id="location-image" v-if="model.location.name === 'Хижина'">
                <img src="@/assets/images/house.png">
              </el-row>
              <el-row class="location-description--wrapper">
                <div class="location-description">{{model.location.description}}</div>
              </el-row>
              <el-row v-if="model.gameEnded">
                {{ model.endMessage }}
              </el-row>
              <el-row>
                {{ model.message }}
              </el-row>
            </div>
          </el-col>
          <el-col :span="5" class="shadow-v inventory-panel">
            <h2>Инвентарь</h2>
            <el-row v-for="item in model.inventoryItems" :key="item.id" :name="item.id" class="item">
              <el-popover
                placement="left-start"
                :title="item.name"
                width="200"
                trigger="hover"
                :content="item.description"
                style="width:100%; height:100%"
              >
                <div class="filler" slot="reference">
                  <div class="item-title">
                    <!-- <i class="el-icon-arrow-left"></i> -->
                    <span>{{ item.name }}</span>
                  </div>
                </div>
              </el-popover>
            </el-row>
          </el-col>
        </el-row>
      </el-main>
      <el-footer class="shadow-h">
        <el-input
          placeholder="Введите команду..."
          class="command-input"
          v-model="userInput"
          @keyup.enter.native="handleInput"
          :disabled="model.gameEnded"
        >
          <el-button slot="append" @click="handleInput" :disabled="model.gameEnded">Отправить</el-button>
        </el-input>
      </el-footer>
    </el-container>
    <el-container v-else>
      <el-main style="padding: 10px">
        <h3>Ошибка при загрузке игры: {{ loadingError }}</h3>
      </el-main>
    </el-container>
  </el-container>
</template>

<script>
import _ from "lodash";

export default {
  data() {
    return {
      ui: {
        openInventoryItems: []
      },
      model: {
        gameEnded: false,
        endMessage: null,
        inventoryItems: [],
        location: {
          name: null,
          description: null
        },
        message: null
      },
      userInput: "",
      session: null,
      loadingError: null
    };
  },
  computed: {
    gameLoaded: function() {
      return this.loadingError == null;
    }
  },
  mounted: function() {
    let gameId = this.$route.params.id;
    this.io.socket.post(
      `/api/v1/game/${gameId}/start-new-game?`,
      (session, response) => this.onGameLoad(session, response)
    );
  },
  methods: {
    handleInput() {
      if (this.model.gameEnded) {
        return;
      }

      let gameId = this.$route.params.id;
      let data = {
        command: this.userInput,
        session: this.session
      };
      this.io.socket.post(
        `/api/v1/game/${gameId}/handle-user-command`,
        data,
        (result, response) => this.onGameUpdate(result, response)
      );
      this.userInput = "";
    },

    onGameLoad(session, response) {
      if (response.statusCode === 200) {
        this.updateSession(session);
      } else {
        let problem = response.headers["X-Exit"];

        switch (problem) {
          case "notFound":
            this.loadingError = "игра не найдена";
            break;
          case "noStartLocation":
            this.loadingError = "в игре отсутствует стартовая локация";
            break;
          default:
            this.loadingError = "неизвестная ошибка";
            break;
        }
      }
    },

    onGameUpdate(result, response) {
      if (response.statusCode === 200) {
        this.updateSession(result.session);
        this.model.message = result.message;
      } else {
        let problem = response.headers["X-Exit"];

        switch (problem) {
          case "unknownCommand":
            this.model.message = "неизвестная команда";
            break;
          case "cantPerformCommand":
            this.model.message = result.message;
            break;
          case "gameNotFound":
            this.loadingError = "игра была удалена";
            break;
          default:
            this.model.message = "неизвестная ошибка при обработке команды";
            break;
        }
      }
    },

    updateSession(session) {
      this.session = session;

      let gameId = session.game;
      let sessionId = session.id;

      this.io.socket.get(
        `/api/v1/game/${gameId}/session/${sessionId}/load-expanded-session`,
        (result, response) => this.parseExtSession(result, response)
      );
    },

    parseExtSession(session) {
      this.model.location.name = session.data.currentLocation.slots.name.value;
      this.model.location.description = this.createDescription(
        session.data.currentLocation
      );

      this.parseInventory(session.data.inventory);

      if (
        session.data.currentLocation.slots.type.value === "Конечная (победа)"
      ) {
        this.model.endMessage = "Поздравляем, вы выиграли";
        this.model.gameEnded = true;
      }

      if (
        session.data.currentLocation.slots.type.value === "Конечная (поражение)"
      ) {
        this.model.endMessage = "Поздравляем, вы проиграли";
        this.model.gameEnded = true;
      }
    },

    createDescription(curLocation) {
      let items = curLocation.slots.items.value;
      let parts = [
        curLocation.slots.descr.value,
        ..._.map(items, item => {
          if (_.includes(this.session.data.usedItems, item.name)) {
            return item.slots.descrАfterUse.value;
          } else {
            return item.slots.descrInLocation.value;
          }
        })
      ];

      return _.join(_.filter(parts, part => part && part.length > 0), ". ");
    },

    parseInventory(inventory) {
      this.model.inventoryItems = _.map(inventory, (item, index) => {
        return {
          id: index,
          name: item.slots.name.value,
          description: item.slots.descr.value
        };
      });
    }
  }
};
</script>

<style lang="scss" scoped>
h2 {
  text-align: center;
}

.game-panel {
  display: flex;
  flex-direction: column;
}

.location-panel {
  padding: 0 20px;
  overflow: hidden;
}

.location-panel .el-row {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0px;
  }
}

.location-description--wrapper {
  justify-content: center;
}

.location-description {
  max-width: 660px;
}

.el-row {
  display: flex;
}

.el-row .el-col {
  flex-grow: 1;
}

.inventory-panel {
  background-color: #fff;
}

.filler {
  width: 100%;
  height: 100%;
  cursor: default;
}

.item {
  padding: 10px 0;
  border-bottom: 1px solid #111627;
}

.item-title {
  font-weight: bold;
  padding-left: 10px;
}

.el-footer {
  padding: 10px;
}

#location-image {
  justify-content: center;
}
</style>
