<template>
  <el-container>
    <el-header>
      <h3>Инспектор объектов</h3>
    </el-header>
    <el-main class="flex">
      <el-collapse v-model="activeTab" accordion class="inspector-tabs">
        <el-collapse-item name="all">
          <template slot="title">
            <div class="collapse-title">
              <span>Все объекты ({{nodes.length}})</span>
            </div>
          </template>
          <el-tree :data="visibleNodes" :props="defaultProps" @node-click="onObjectSelect">
            <span class="custom-tree-node" slot-scope="{ node, data }">
              <span>{{ node.label }}</span>
              <!-- <span>
                <el-button
                  v-if="!data.node.isBase"
                  type="text"
                  size="mini"
                  icon="el-icon-delete"
                  @click="() => deleteNode(data.node)"
                ></el-button>
              </span> -->
            </span>
          </el-tree>
        </el-collapse-item>
        <el-collapse-item name="current" class="current-frame">
          <template slot="title">
            <div class="collapse-title">Текущий объект</div>
          </template>
          <div v-if="!hasObject()">Ни один объект не выделен</div>
          <frame-edit v-if="hasObject()" 
          :object="object" 
          :frames="nodes" 
          :types="game.types"
          @add-node="addNode"
          @setup-relations="setupRelations"
          @remove-frame="deleteNode"
          ></frame-edit>
        </el-collapse-item>
      </el-collapse>
    </el-main>
    <el-footer class="bottom-buttons">
      <el-tooltip class="item" effect="light" content="Сохранить?" placement="top">
        <el-button type="primary" icon="el-icon-refresh" circle @click="openSaveDialog(false)"></el-button>
      </el-tooltip>
      <el-tooltip class="item" effect="light" content="Сохранить и выйти?" placement="top">
        <el-button type="success" icon="el-icon-close" circle @click="openSaveDialog(true)"></el-button>
      </el-tooltip>
    </el-footer>
    <!-- Модальное окно -->
    <el-dialog
      :title="saveDialogTitle"
      :visible.sync="saveDialogVisible"
      width="600px"
      :modalAppendToBody="false"
    >
      <span>Для сохранения игры необходимо указать некоторые параметры</span>
      <el-form :model="saveForm" class="save-form" :rules="saveRules" ref="saveForm">
        <el-form-item label="Название игры" :label-width="saveForm.labelWidth" prop="gameName">
          <el-input v-model="saveForm.gameName" autocomplete="off"></el-input>
        </el-form-item>

        <el-form-item
          label="Описание игры"
          :label-width="saveForm.labelWidth"
          prop="gameDescription"
        >
          <el-input v-model="saveForm.gameDescription" autocomplete="off"></el-input>
        </el-form-item>

        <el-form-item
          label="Мажорная версия"
          :label-width="saveForm.labelWidth"
          prop="majorVersion"
        >
          <el-input
            v-model="saveForm.majorVersion"
            autocomplete="off"
            type="number"
            maxlength="3"
            max="3"
          ></el-input>
        </el-form-item>
        <el-form-item
          label="Минорная версия"
          :label-width="saveForm.labelWidth"
          prop="minorVersion"
        >
          <el-input
            v-model="saveForm.minorVersion"
            autocomplete="off"
            type="number"
            maxlength="3"
            max="3"
          ></el-input>
        </el-form-item>
        <el-form-item label="Патч-версия" :label-width="saveForm.labelWidth" prop="patchVersion">
          <el-input
            v-model="saveForm.patchVersion"
            autocomplete="off"
            type="number"
            maxlength="3"
            max="3"
          ></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer">
        <el-button @click="saveDialogVisible = false">Отмена</el-button>
        <el-button type="success" @click="submitForm('saveForm')">{{saveButtonTitle}}</el-button>
      </span>
    </el-dialog>
  </el-container>
</template>

<script>
import FrameEdit from "./FrameEdit";
import _ from "lodash";

export default {
  components: {
    FrameEdit
  },
  props: {
    game: Object,
    object: Object,
    nodes: Array,
    edges: Array
  },
  data: function() {
    return {
      saveDialogTitle: undefined,
      saveButtonTitle: undefined,
      isExitAfterSave: false,
      saveDialogVisible: false,
      activeTab: "all",
      defaultProps: {
        children: "children",
        label: "label"
      },
      saveForm: {
        labelWidth: "180px",
        majorVersion: null,
        minorVersion: null,
        patchVersion: null,
        gameName: null,
        gameDescription: null
      },
      saveRules: {
        gameName: [
          {
            required: true,
            message: "Необходимо ввести название",
            trigger: "blur"
          },
          {
            min: 1,
            max: 25,
            message: "Длина должна быть от 1 до 25 символов",
            trigger: "blur"
          }
        ],
        gameDescription: [
          {
            min: 0,
            max: 25,
            message: "Длина не должна превышать 25 символов",
            trigger: "blur"
          }
        ],
        majorVersion: [
          {
            required: true,
            message: "Необходимо ввести число",
            trigger: "blur"
          },
          {
            min: 1,
            max: 3,
            message: "Длина должна быть от 1 до 3 символов",
            trigger: "blur"
          }
        ],
        minorVersion: [
          {
            required: true,
            message: "Необходимо ввести число",
            trigger: "blur"
          },
          {
            min: 1,
            max: 3,
            message: "Длина должна быть от 1 до 3 символов",
            trigger: "blur"
          }
        ],
        patchVersion: [
          {
            required: true,
            message: "Необходимо ввести число",
            trigger: "blur"
          },
          {
            min: 1,
            max: 3,
            message: "Длина должна быть от 1 до 3 символов",
            trigger: "blur"
          }
        ]
      }
    };
  },
  computed: {
    visibleNodes: function() {
      let treeNodes = [];
      this.nodes.forEach(node => {
        let parentName = node.data.parentFrame;
        if (parentName === undefined || parentName === null) {
          let treeNode = {
            node: node,
            label: node.label,
            children: []
          };
          treeNodes.push(treeNode);
          this.addChildNodes(treeNode, this.nodes);
        }
      });

      return treeNodes;
    }
  },
  methods: {
    addNode({ label, type }) {
      this.$emit("add-node", { label, type });
    },
    setupRelations() {
      if (this !== null) this.$emit("setup-relations");
    },
    deleteNodeFromList(removingNodes, nodes) {
      for (var i = 0; i < nodes.length; i++) {
        if (removingNodes.includes(nodes[i].id)) {
          nodes = nodes.splice(i, 1);
        }
      }
    },
    deleteNodeFromSlots(targetNode) {
      for (let node of this.nodes) {
        if (!Array.isArray(node.data.slots)) continue;
        for (let slot of node.data.slots) {
          if (slot.type === "list") {
            let i = slot.value.indexOf(targetNode.label);
            if (i != -1) {
              slot.value.splice(i, 1);
            }
          }
        }
      }
    },
    getChilds(node, childs) {
      if (node === null || node === undefined) {
        return;
      }
      this.nodes.forEach(n => {
        if (n.data.parentFrame === node.label) {
          childs.push(n.id);
          this.getChilds(n, childs);
        }
      });
    },
    deleteNode(node) {
      var childs = [];
      this.getChilds(node, childs);
      let hasChilds = childs.length != 0;
      childs.push(node.id);
      this.deleteNodeFromList(childs, this.nodes);
      this.deleteNodeFromSlots(node);
      let deleteMessage = hasChilds
        ? " и его потомки успешно удалены!"
        : " успешно удалён!";
      this.$notify({
        title: "Success",
        message: "Фрейм " + node.label + deleteMessage,
        duration: 3000,
        type: "success"
      });

      this.$emit("frame-deleted", node);
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          switch (formName) {
            case "saveForm":
              this.saveGame();
              break;
          }
        } else {
          return false;
        }
      });
    },
    saveGame() {
      this.saveDialogVisible = false;
      this.saveGameDialog();
      this.sendGameInfo();
    },
    sendGameInfo() {
      let base = this.getKnowledgeBase();
      let game = this.getGame();
      game.knowledgeBase = base;
      let baseId = this.game.instance.knowledgeBase.id;
      let gameId = this.game.instance.id;
      this.io.socket.patch(`/knowledgeBase/${baseId}`, base, () => {
        this.io.socket.patch(`/game/${gameId}`, game, () => {
          this.$notify({
            title: "Success",
            message: "Игра успешно сохранена",
            duration: 2000,
            type: "success"
          });
          if (this.isExitAfterSave) {
            this.$router.push({ name: "home" });
          }
        });
      });
    },
    saveGameDialog() {
      this.game.name = this.saveForm.gameName;
      this.game.description = this.saveForm.gameDescription;
      this.game.version =
        this.saveForm.majorVersion +
        "." +
        this.saveForm.minorVersion +
        "." +
        this.saveForm.patchVersion;
    },
    getGame() {
      return {
        name: this.game.name,
        description: this.game.description
      };
    },
    getParsedSlots(slots) {
      let result = {};
      slots.forEach(slot => {
        result[slot.name] = _.clone(slot);
        delete result[slot.name].level;
        delete result[slot.name].name;
        delete result[slot.name].tempValue;
        delete result[slot.name].tempType;
      });
      return result;
    },
    getParsedNodes() {
      return _.map(this.nodes.filter(node => node.isBase !== true), node => {
        return {
          name: node.label,
          parentFrame: node.data.parentFrame,
          slots: this.getParsedSlots(node.data.slots)
        };
      });
    },
    getKnowledgeBase() {
      return {
        version: this.game.version,
        types: this.game.types,
        baseFrames: this.game.baseFrames,
        frameInstances: this.getParsedNodes()
      };
    },
    openSaveDialog(isExit) {
      this.saveDialogTitle = isExit
        ? "Сохранить игру и выйти?"
        : "Сохранить игру?";
      let splittedVersion = this.game.version.split(".");
      this.saveForm.majorVersion = splittedVersion[0];
      this.saveForm.minorVersion = splittedVersion[1];
      this.saveForm.patchVersion = splittedVersion[2];
      this.saveForm.gameName = this.game.name;
      this.saveForm.gameDescription = this.game.description;
      this.saveButtonTitle = isExit ? "Сохранить и выйти" : "Сохранить";
      this.isExitAfterSave = isExit;
      this.saveDialogVisible = true;
    },
    addChildNodes(parentTreeNode, nodes) {
      nodes.forEach(node => {
        let parentName = node.data.parentFrame;

        if (
          parentName === parentTreeNode.label &&
          !parentTreeNode.children.some(elem => elem.label === node.label)
        ) {
          let treeNode = {
            node: node,
            label: node.label,
            children: []
          };
          parentTreeNode.children.push(treeNode);
          this.addChildNodes(treeNode, nodes);
        }
      });
    },
    hasObject() {
      return this.object !== undefined && this.object !== null;
    },
    onObjectSelect(data) {
      this.$emit("node-selected", data);
    }
  }
};
</script>

<style>
.save-form {
  padding-top: 30px;
}

.bottom-buttons {
  padding: 10px;
}

.inspector-tabs {
  width: 100%;
  flex-grow: 1;
}

.collapse-title {
  font-weight: bold;
  font-size: 1.1em;
}

.el-collapse-item > div > div {
  padding-left: 10px;
  padding-right: 10px;
}

.el-collapse-item {
  display: flex;
  flex-direction: column;
}

.custom-tree-node {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
}

.el-collapse-item__wrap {
  flex-grow: 1;
}
</style>
