<template>
  <el-container id="app">
    <el-header id="main-header" class="app-header shadow-v">
      <router-view name="header"></router-view>
    </el-header>
    <el-main>
      <router-view></router-view>
    </el-main>
  </el-container>
</template>

<script>
export default {
  name: "App"
};
</script>

<style lang="scss">
@import "./assets/scss/common-styles.scss";
@import "./assets/scss/element-overrides.scss";

@font-face {
  font-family: "Pixel-Font";
  src: url("./assets/fonts/pixel-font.ttf") format("truetype");
}

html {
  font-family: "Pixel-Font";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $font-color;
}

#main-header {
  overflow: hidden;
  background-color: $panel-color;
  z-index: 5;
}
</style>
