$panel-color: #f1f1f1;
$font-color: #2c3e50;

$header-height: 60px;

.app-header {
  height: $header-height;
}

.full-vh {
  height: calc(100vh - #{$header-height})
}

.el-main.flex {
  display: flex;
}

.shadow-h {
  box-shadow: 4px 0 10px -2px rgba(0, 0, 0, 0.3);
}

.shadow-v {
  box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.3);
}